/* Test CSS */
/* line 2, scss/index.scss */
body::after {
  content: "Connected CSS";
}

/* Reset CSS */
/* line 7, scss/index.scss */
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color theme */
/* line 14, scss/index.scss */
:root {
  --theme: #361C74;
  --complement: #D9D3E9;
  --grab_attention: #BD60E7;
}

/* Utility classes */
/* line 21, scss/index.scss */
.display-block {
  display: block;
}

/* line 24, scss/index.scss */
.display-inline-block {
  display: inline-block;
}

/* General UI */
/* line 29, scss/index.scss */
.btn-primary {
  width: 150px;
  margin: 10px 0;
  border-color: var(--theme) !important;
  background-color: var(--theme) !important;
  transition: background-color 750ms, border-color 750ms;
  overflow-x: scroll;
  text-align: left;
}

/* line 38, scss/index.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:focus-within, .btn-primary:link {
  background-color: var(--grab_attention) !important;
  border-color: var(--grab_attention) !important;
}

/* Question */
/* line 44, scss/index.scss */
.question hr {
  margin: 20px 0 10px 0;
}

/* line 47, scss/index.scss */
.question .text-feedback {
  color: lightgray;
  font-style: italic;
}
